# DECISION TREE tic tac toe

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [82]:
df=pd.read_csv("tic-tac-toe.csv")
print(df)
x=df.drop(['V10'],axis=1)
y=df['V10']

    V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0    x  x  x  x  o  o  x  o  o  positive
1    x  x  x  x  o  o  o  x  o  positive
2    x  x  x  x  o  o  o  o  x  positive
3    x  x  x  x  o  o  o  b  b  positive
4    x  x  x  x  o  o  b  o  b  positive
..  .. .. .. .. .. .. .. .. ..       ...
953  o  x  x  x  o  o  o  x  x  negative
954  o  x  o  x  x  o  x  o  x  negative
955  o  x  o  x  o  x  x  o  x  negative
956  o  x  o  o  x  x  x  o  x  negative
957  o  o  x  x  x  o  o  x  x  negative

[958 rows x 10 columns]

In [83]:
x

    V1 V2 V3 V4 V5 V6 V7 V8 V9
0    x  x  x  x  o  o  x  o  o
1    x  x  x  x  o  o  o  x  o
2    x  x  x  x  o  o  o  o  x
3    x  x  x  x  o  o  o  b  b
4    x  x  x  x  o  o  b  o  b
..  .. .. .. .. .. .. .. .. ..
953  o  x  x  x  o  o  o  x  x
954  o  x  o  x  x  o  x  o  x
955  o  x  o  x  o  x  x  o  x
956  o  x  o  o  x  x  x  o  x
957  o  o  x  x  x  o  o  x  x

[958 rows x 9 columns]

In [84]:
y

0      positive
1      positive
2      positive
3      positive
4      positive
         ...
953    negative
954    negative
955    negative
956    negative
957    negative
Name: V10, Length: 958, dtype: object